
@{
    ViewData["Title"] = "Overzicht";
}

<script>
    $(document).ready(function () {
        reloadStudies('/Results/FilterResults?' + buildFilter());
    });

    function expandOrCollapseStudy() {
        var icon = $(this).find('.row-icon');
        if (icon.hasClass('row-closed')) {
            icon.removeClass('fa-plus-square');
            icon.removeClass('row-closed');
            icon.addClass('fa-minus-square');
            icon.addClass('row-opened');

            var contentId = $(this).attr('row-id');
            $('tr[content-row-id$="' + contentId + '"]').removeClass('hidden');
        } else {
            icon.removeClass('fa-minus-square');
            icon.removeClass('row-opened');
            icon.addClass('fa-plus-square');
            icon.addClass('row-closed');

            var contentId = $(this).attr('row-id');
            $('tr[content-row-id$="' + contentId + '"]').addClass('hidden');
        }
    }

    function showLoadingAnimation(display) {
        if (display)
            $('#loading-animation').removeClass('hidden');
        else
            $('#loading-animation').addClass('hidden');
    }

    function buildFilter() {
        return 'orderby=analysedate&orderdirection=asc&index=0&length=1';
    }

    function loadStudies(url) {
        showLoadingAnimation(true);
        $.ajax({
            type: 'GET',
            url: url,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                console.log(json);
                parseStudyData(json.studies);

                if (json.data.url != '') {
                    loadStudies(json.data.url);
                } else {
                    showLoadingAnimation(false);
                }
            },
            error: function (e) {
                console.log("jQuery error message = " + e.message);
            }
        });
    }

    function reloadStudies(url) {
        showLoadingAnimation(true);
        clearStudiesTable();

        loadStudies(url);
    }

    function clearStudiesTable() {
        $('#result-table-body').empty();
    }

    function parseStudyData(data) {
        for (var i = 0; i < data.length; i++) {
            addStudy(data[i]);
        }
    }

    function addStudy(data) {
        var studyRow = $('#foldable-table-row-prefab').clone();
        studyRow.attr('id', '');
        studyRow.attr('row-id', data.id);

        var children = studyRow.children();
        console.log(data);
        var date = new Date(data.studyDate);
        children[1].innerText = date.toDateString() + ' ' + date.toLocaleTimeString();
        children[2].innerText = data.pacsAccession;
        children[3].innerText = data.studyUID;
        children[4].innerText = data.machines[0].publicName;
        children[5].innerText = data.detectors[0].publicName;
        studyRow.click(expandOrCollapseStudy);

        $('#result-table-body').append(studyRow);

        var imageRow = $('#content-row-prefab').clone();
        imageRow.attr('content-row-id', data.id);
        imageRow.attr('id', '');

        var images = data.images;
        var currentTable = imageRow.find('#image-content-prefab');
        for (var i = 0; i < images.length; i++) {
            addImage(data.id, images[i], currentTable);
        }

        $('#result-table-body').append(imageRow);
    }

    function addImage(rowId, data, table) {
        var imageRow = $('#content-subrow-prefab').clone();

        imageRow.attr('id', '');

        var children = imageRow.children();
        children[0].innerText = data.imageUID;
        var date = new Date(data.analyseTime);
        children[1].innerText = date.toDateString() + ' ' + date.toLocaleTimeString();
        children[2].innerText = data.state;
        children[3].innerText = data.machine.publicName;
        children[4].innerText = data.detector.publicName;

        table.append(imageRow);
    }

</script>

<div class="col-md-12 col-xs-6">
    <div class="box box-info collapsed-box">
        <div class="box-header">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
            <h3 class="box-title">Filters</h3>
        </div>
        <div class="box-body">
            Put some pretty awesome filters in here
        </div>
    </div>
</div>

<div class="col-md-12 col-xs-6">
    <div class="row">
        <table class="table table-hover table-striped">
            <tr>
                <th width="2%"></th>
                <th>Date and time</th>
                <th>PACS accession</th>
                <th>Study instance UID</th>
                <th>Machine(s)</th>
                <th>Detector(s)</th>
            </tr>

            <tbody id="result-table-body"></tbody>
        </table>
    </div>

    <div class="row" id="loading-animation">
        <br />
        <center>
            <!--<i class="fa fa-refresh fa-spin fa-4x"></i>-->
            <img src="~/images/spinner.gif" width="75px" />
            <br />
            <br />
            <font style="font-size: 10pt">
                Resultaten laden<br />
                Een ogenblik geduld
            </font>
        </center>
    </div>
</div>

<div class="hidden">
    <table>
        <tr class="foldable-table-row" row-id="" id="foldable-table-row-prefab">
            <td>
                <!-- Display the plus/minus icon on the left of each row -->
                <i class="fa fa-plus-square row-icon text-blue row-closed"></i>
            </td>
            <td>
                <!-- Display the date and time values -->
            </td>
            <td>
                <!-- Display the PACS accession number -->
            </td>
            <td>
                <!-- Display the Instance UID of the Study -->
            </td>
            <td>
                <!-- Display the machine information -->
            </td>
            <td>
                <!-- Display the amount of images in the study -->
            </td>
        </tr>
        <tr class="hidden content-row" content-row-id="" id="content-row-prefab">
            <td></td>
            <td colspan="5">
                <table class="table" id="image-content-prefab">
                    <tr>
                        <th>Image UID</th>
                        <th>Analyse date and time</th>
                        <th>Status</th>
                        <th>Machine</th>
                        <th>Detector</th>
                        <th>Acties</th>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="content-subrow" id="content-subrow-prefab">
            <td>
                <!-- Display the Image UID of the image (SOP Instance) -->
            </td>
            <td>
                <!-- Display the date and time of the analyses -->
            </td>
            <td>
                <!-- Display the image status -->
            </td>
            <td>
                <!-- Display the machine the image was taken on -->
            </td>
            <td>
                <!-- Display the detector the image was taken on -->
            </td>
            <td>
                <!-- The button to open the image details -->
                <button class="btn btn-success btn-xs">Openen</button>
            </td>
        </tr>
    </table>
</div>
